root = true

# elementary defaults
[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 4

# Markup files
[{*.html,*.xml,*.xml.in,*.yml,*.blp}]
tab_width = 2

# Man pages
[*.scd]
indent_style = tab
tab_width = 4

[*.{h,c}]
indent_style = tab
indent_size = 4

[*.{scss,css}]
indent_size = 2

[meson.build]
indent_size = 2
