/*
 * vim: ft=less
 */

@define-color borders-light rgba(0, 0, 0, 0.12);
@define-color borders-dark rgba(255, 255, 255, 0.15);

.thumbnail-image picture {
  background-color: black;
}

.theme-preview-item picture,
.thumbnail-image picture {
  /* Use smaller inner corner radius bc of outer outlines using 12px */
  border-radius: 9px;
}

.theme-preview-item .window {
  border-radius: 6px;
  box-shadow: 0 1px 4px 1px alpha(black, 0.13),
    0 1px 10px 5px alpha(black, 0.09), 0 3px 16px 8px alpha(black, 0.04),
    0 0 0 1px alpha(black, 0.05);
}

.theme-preview-item .window .header-bar {
  min-height: 15px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.theme-preview-item .window .header-bar.dark {
  box-shadow: inset 0 -1px @borders-dark;
}
.theme-preview-item .window .header-bar.light {
  box-shadow: inset 0 -1px @borders-light;
}

.theme-preview-item .window.light {
  background-color: #fafafa;
  color: alpha(black, 0.8);
}

.theme-preview-item .window.front.light .header-bar {
  background-color: #ebebeb;
}

.theme-preview-item .window.dark {
  background-color: #242424;
  color: white;
}

.theme-preview-item .window.front.dark .header-bar {
  background-color: #303030;
}

.theme-preview-item,
.background-flowbox-child {
  background: none;
  border-radius: 12px;
  padding: 3px;
  box-shadow: none;
  outline: none;
}

.theme-preview-item:checked,
.background-flowbox-child:selected {
  box-shadow: 0 0 0 3px @accent_color;
}

.theme-preview-item:focus:focus-visible,
.background-flowbox-child:focus:focus-visible {
  box-shadow: 0 0 0 3px alpha(@accent_color, 0.3);
}

.theme-preview-item:checked:focus:focus-visible,
.background-flowbox-child:selected:focus:focus-visible {
  box-shadow: 0 0 0 3px @accent_color, 0 0 0 6px alpha(@accent_color, 0.3);
}

.img-remove-button {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 4px;
  margin-right: 4px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
  transition: all 0.15s ease-in-out;
}

.img-remove-button:hover {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.6);
  border: none;
}

.img-remove-button:active {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.4);
  border: none;
}

.pulse-scale {
  /* https://gitlab.gnome.org/GNOME/gtk/-/issues/5171 */
  transform: translate(0, 6px);
}

.storage-row {
  margin: 10px 0;
}

.storage-row-usage {
  margin-top: 4px;
  border-radius: 6px;
}

.storage-row-usage progress,
.storage-row-usage trough {
  border-radius: 0px;
  min-height: 24px;
}
