:root {
  --borders-light: rgba(0, 0, 0, 0.12);
  --borders-dark: rgba(255, 255, 255, 0.15);
  --transition-time: 0.15s ease-in-out;
}

// From: https://blogs.gnome.org/alicem/2024/06/07/css-happenings/
@function lighter($color) {
  @return hsl(from $color h calc(s * 1.3) calc(l * 1.3));
}
@function darker($color) {
  @return hsl(from $color h calc(s * 0.7) calc(l * 0.7));
}

*:disabled image {
  opacity: var(--disabled-opacity);
}
