@import "./base.scss";

$drop-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
$avatar-size: 128px;
$blur-fade-ms: 300ms;
$blur-fade-ease: ease-out;
$blur-amount: 10px;

lockerwindow {
  background: transparent;

  .locker-wallpaper {
    transition: filter $blur-fade-ease $blur-fade-ms;
  }

  &.focused .locker-wallpaper {
    filter: blur($blur-amount);
  }

  label {
    text-shadow: $drop-shadow;
    color: rgba(white, 0.5);
  }

  .locker-time-box {
    margin: 64px 0;

    .locker-time {
      font-size: 128px;
      font-weight: bold;
    }

    .locker-date {
      font-size: 32px;
      font-weight: bold;
    }
  }

  .locker-content {
    background: rgba(0, 0, 0, 0.2);

    .locker-avatar {
      filter: drop-shadow($drop-shadow);
      margin: 6px;
      -gtk-icon-size: $avatar-size;
    }

    .locker-name {
      font-size: 18px;
      margin: 6px;
    }

    box {
      margin: 32px 0;

      .locker-entry {
        box-shadow: $drop-shadow;
        margin: 4px;
        border-radius: 100px;

        & text {
          margin: 0 4px;
        }
      }

      .locker-unlock {
        box-shadow: $drop-shadow;
        margin: 4px;
      }
    }
  }
}
