.main-flex-item {
  margin: 8px;
}
.main-flex-item:selected {
  border-radius: 10px;
}

.category-title {
  font-weight: bold;
  margin: 6px;
}

.shadow {
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
}

.background-image-item {
  background: black;
}
